<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Real-Time Work Hours Calculator</title>
        <meta name="description" content="Calculate hours worked on any device within seconds.">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="styles/style.css">
        <link rel="stylesheet" href="styles/AdminLTE.min.css">

        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" sizes="57x57" href="icons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="icons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="icons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="icons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="icons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="icons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="icons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="icons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="icons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
        <link rel="manifest" href="manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="icons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
        <script src="js/controllers.js"></script>  
    </head>
    <body ng-app='myApp'> 
        <div class= "container" id="main-container" ng-controller="MainCtrl">
            <div class="links row text-right" style="color:#d1d1d1">
                <a href="#" ng-click="advance=true" >Advanced</a>
                <span> | </span>
                <a href="https://github.com/swaheed2/real-time-work-hours-calculator" >Source</a>
            </div>
            <div class="row"> 
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Real-Time Work Hours Calculator</h3>
                    </div>
                    <div class="box-body">
                        <div class="row row-centered">
                            <div class="col-xs-6 col-centered">
                                <div class="box box-success child">
                                    <div class="box-header child">
                                        <h3 class="box-title"><i class="fa fa-clock-o"></i> Time In</h3>
                                    </div>
                                    <div class="box-body">
                                        <input 
                                               type="number" 
                                               ng-change="calculate()" 
                                               onclick="this.value='';" 
                                               ng-model="timeinH" 
                                               placeholder="H" 
                                               size="2" max="12">

                                        <span style="font-size: 26px;"> : </span> 
                                        <input 
                                               type="number" 
                                               ng-change="calculate()" 
                                               onclick="this.value='';" 
                                               ng-model="timeinM" 
                                               placeholder="M" 
                                               size="2" max="60"> 
                                        <select ng-change="calculate()" ng-model="timeinAMPM">
                                            <option value="am" >am</option>
                                            <option value="pm">pm</option> 
                                        </select>
                                    </div>
                                </div>  
                            </div>
                            <div class="col-xs-6 col-centered">
                                <div class="box box-success child">
                                    <div class="box-header child">
                                        <h3 class="box-title"><i class="fa fa-clock-o"></i> Lunch Start</h3>
                                    </div>
                                    <div class="box-body">
                                        <input 
                                               type="number" 
                                               ng-change="calculate()" 
                                               onclick="this.value='';" 
                                               ng-model="lstartH" 
                                               placeholder="H" 
                                               size="2" max="12"> 
                                        <span style="font-size: 26px;"> : </span>
                                        <input 
                                               type="number" 
                                               ng-change="calculate()" 
                                               onclick="this.value='';" 
                                               ng-model="lstartM" 
                                               placeholder="M" 
                                               size="2" max="60">
                                        <select ng-model="lunchstartAMPM">
                                            <option value="pm">pm</option> 
                                            <option value="am">am</option> 
                                        </select>
                                    </div>
                                </div>   
                            </div>
                            <div class="col-xs-6 col-centered">
                                <div class="box box-success child">
                                    <div class="box-header child">
                                        <h3 class="box-title"><i class="fa fa-clock-o"></i> Lunch End</h3>
                                    </div>
                                    <div class="box-body">
                                        <input 
                                               type="number" 
                                               ng-change="calculate()" 
                                               onclick="this.value='';" 
                                               ng-model="lendH" 
                                               placeholder="H" 
                                               size="2" max="12">
                                        <span style="font-size: 26px;"> : </span>
                                        <input 
                                               type="number" 
                                               ng-change="calculate()" 
                                               onclick="this.value='';"
                                               ng-model="lendM" 
                                               placeholder="M" 
                                               size="2" max="60">
                                        <select ng-model="lunchendAMPM">
                                            <option value="pm">pm</option> 
                                            <option value="am">am</option> 
                                        </select> 
                                    </div>
                                </div> 
                            </div>
                            <div class="col-xs-6 col-centered">
                                <div class="box box-success child">
                                    <div class="box-header child">
                                        <h3 class="box-title"><i class="fa fa-clock-o"></i> Time Out</h3>
                                    </div>
                                    <div class="box-body">
                                        <input 
                                               type="number" 
                                               ng-change="calculate()" 
                                               onclick="this.value='';" 
                                               ng-model="timeoutH" 
                                               placeholder="H" 
                                               size="2" max="12">
                                        <span style="font-size: 26px;"> : </span>
                                        <input 
                                               type="number" 
                                               ng-change="calculate()" 
                                               onclick="this.value='';" 
                                               ng-model="timeoutM" 
                                               placeholder="M" 
                                               size="2" max="60">
                                        <select ng-model="timeoutAMPM">
                                            <option value="pm">pm</option> 
                                            <option value="am">am</option> 
                                        </select>
                                    </div>
                                </div>  
                            </div>

                        </div>
                    </div> <!-- /.box-body --> 
                </div>
            </div>   
            <div class="row" >
                <div class="box box-success">
                    <div class="box-header with-border text-center" style="padding: 0px;">
                        <h1 class="">{{ total }}</h1>
                    </div>
                </div>
            </div>
            <div class="row text-center" ng-if="advance">
                <div 
                     style="padding: 0 5px 0 0 !important;margin: 0 !important;"
                     class="col col-xs-6 col-sm-6 ">
                    <button 
                            type="button"
                            style="display: block; width: 100%;"
                            class="btn btn-default btn-flat btn-block" 
                            data-toggle="tooltip" data-placement="top" 
                            title="save times">
                        Save Times
                    </button>
                </div>
                <div class="col col-xs-6 col-sm-6 nopadding">
                    <button 
                            type="button" 
                            style="display: block; width: 100%;"
                            class="btn btn-default btn-flat btn-block" 
                            data-toggle="tooltip" data-placement="top"
                            ng-click="addRow()"
                            title="add these hours to time tip below">
                        Add Time
                    </button>
                </div>
            </div>
            <br>
            <div class="row text-center" id="summary" ng-if="advance">
                <div class="col col-xs-6 col-sm-3 nopadding">
                    <span  
                          style="display: inline-block; width:45%"
                          class="bg-purple btn-flat bottom-span" >
                        Rate
                    </span>
                    <input 
                           type="number"   
                           ng-model="rate"
                           class="pay-input"
                           ng-change="calcRate(rate)"
                           onclick="this.value='';"   
                           size="3" max="100"> 
                </div>
                <div class="col col-xs-6 col-sm-3 nopadding">
                    <span  
                          style="display: inline-block; width:45%"
                          class="bg-purple btn-flat bottom-span">
                        Tax
                    </span>
                    <input 
                           type="number"  
                           class="pay-input"
                           ng-model="tax"
                           onclick="this.value='';"
                           ng-change="calcTax(tax)" 
                           placeholder="%" 
                           size="0" max="100">
                </div>
                <div class="col col-xs-6 col-sm-3 nopadding">
                    <span    
                          style="position:relative; bottom:0px"
                          class="bg-maroon btn-flat btn-block bottom-span"  >
                        Total Hours: {{totalHours}}
                    </span>
                </div>
                <div class="col col-xs-6 col-sm-3 nopadding" style="padding-left:5px !important">
                    <span    
                          style="position:relative; bottom:0px"
                          class="bg-maroon btn-flat btn-block bottom-span"  >
                        Pay: ${{totalPay}}
                    </span>
                </div>
            </div> 
            <br>
            <div class="row" ng-if="advance">
                <div class="box box-success">
                    <div class="box-header with-border text-center">
                        <table id="ttable" class="table table-bordered">
                            <thead class="bg-olive">
                                <tr>
                                    <td>Time In</td> 
                                    <td>Lunch Start</td> 
                                    <td>Lunch End</td> 
                                    <td>Time Out</td>
                                </tr>
                            </thead>
                            <tbody class=""> 
                            </tbody>
                        </table> 
                    </div>
                </div>
            </div>

            <br><br>

        </div>   
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <script src="js/app.js"></script>    
    </body>
</html>
